<div class="container my-3 p-0">
  <a routerLink="/student" type="button" class="mb-4 d-flex align-items-center text-secondary" data-test-id="back-to-list-btn">
    <mat-icon fontIcon="keyboard_arrow_left"></mat-icon>
    Back to list
  </a>
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h1 class="h5 m-0">Student details</h1>
      <div class="d-flex align-items-center">
        <a [routerLink]="`/student/${student?.id}/edit`" [ariaDisabled]="!student" type="button" class="btn btn-outline-primary mr-2">
          Edit
        </a>
        <button class="btn btn-danger" (click)="deleteStudent()">Delete</button>
      </div>
    </div>
    <div class="card-body d-flex">
      @if (loading) {
        <div class="card bg-light border-0 py-2 px-3">Loading students...</div>
      } @else {
        <div class="card mr-4">
          <mat-icon class="user-icon" aria-label="Student profile picture" fontIcon="account_circle"></mat-icon>
        </div>
        <div class="w-full">
          <h2 class="h5 m-0">{{ student?.firstName }} {{ student?.lastName }}</h2>
        </div>
      }
    </div>
  </div>
</div>