<section class="container card my-3 p-0">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h5 class="m-0">Students list</h5>
    <a routerLink="/student/create" type="button" class="btn btn-primary">Add a student</a>
  </div>
  <div class="card-body container-fluid list-container">
    @for (student of students; track student.id) {
      <div class="card bg-light py-2 px-3 d-flex flex-row align-items-center justify-content-between">
        <p class="m-0">{{ student.firstName }} {{ student.lastName }}</p>
        <div class="d-flex flex-row">
          <a [routerLink]="`/student/${student.id}`" type="button" class="btn btn-outline-primary mr-2">Details</a>
          <a [routerLink]="`/student/${student.id}/edit`" type="button" class="btn btn-primary">Edit</a>
        </div>
      </div>
    }
    @empty {
      <div class="card bg-light border-0 py-2 px-3">No student registered yet</div>
    }
  </div>
</section>