<section class="container card my-3 p-0">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h5 class="m-0">Students list</h5>
    <a routerLink="/student/create" type="button" class="btn btn-primary" data-test-id="create-student-link">Add a student</a>
  </div>
  <div class="card-body container-fluid list-container">
    @if (loading) {
      <div class="card bg-light border-0 py-2 px-3">Loading students...</div>
    } @else {
      @for (student of students; track student.id) {
        <div class="card bg-light py-2 px-3 d-flex flex-row align-items-center justify-content-between">
          <p class="m-0">{{ student.firstName }} {{ student.lastName }}</p>
          <div class="d-flex flex-row">
            <a [routerLink]="`/student/${student.id}`" type="button" class="btn btn-outline-primary mr-2" data-test-id="student-details-btn">Details</a>
            <a [routerLink]="`/student/${student.id}/edit`" type="button" class="btn btn-primary mr-2" data-test-id="edit-student-btn">Edit</a>
            <button class="btn btn-danger" (click)="deleteStudent(student.id)" data-test-id="delete-student-btn">Delete</button>
          </div>
        </div>
      }
      @empty {
        <div class="card bg-light border-0 py-2 px-3">No student registered yet</div>
      }
    }
  </div>
</section>